{% extends '_layout' %}

{% set title = entry.title %}

{% block content %}

  {% switch entry.initiativeHeaderSelector %}
    {% case  'simpleHeader' %}
      <!-- Header Title -->
        <section class="headTitle bgColor-darkviolet">
          <div class="headTitle-content">
            <div class="headTitle-breadcrumb">
              {% if entry.level > 1 %}
                  {% set bItems = entry.getAncestors()|length %}
                  {% set bItemsPrev = bItems - 2 %}

                  <a href="{{ siteUrl }}">HOME</a>
                  {% for crumb in entry.getAncestors()[bItemsPrev:bItems] %}
                    // {{ crumb.getLink() }} 
                  {% endfor %}
              {% else %}
                <a href="{{ siteUrl }}">HOME</a>
              {% endif %} 
            </div>
            <div class="headTitle-title">
              <h3 class="separator left-aligned">
              <span>{{ entry.heroType1_title|striptags('p')|raw}}</span></h3>
            </div>
          </div>
        </section>
      <!-- Header Title -->
    {% case  'headerWithImage' %}
      <!-- Hero Block -->
        <div class="heroType1-container"  {% if entry.heroType1_image.first != "" %}style="background-image: url('{{ entry.heroType1_image.first.url }}');"{% endif %}>
          <div class="heroType1-block-box">
            <div class="heroType1-block-box-content">
                <div class="heroType1-block-breadcrumbs">
                  {% if entry.level > 1 %}
                      {% set bItems = entry.getAncestors()|length %}
                      {% set bItemsPrev = bItems - 2 %}

                      <a href="{{ siteUrl }}">HOME</a>
                      {% for crumb in entry.getAncestors()[bItemsPrev:bItems] %}
                        // {{ crumb.getLink() }} 
                      {% endfor %}
                  {% else %}
                    <a href="{{ siteUrl }}">HOME</a> 
                  {% endif %}  
                </div>
                <div class="heroType1-block-title">
                  <h1>{{ entry.heroType1_title }}</h1>
                </div>
            </div>
          </div>
        </div>
      <!-- END Hero Block -->   
    {% default %}
      <!-- Hero Block -->
          <div class="heroType1-container"  {% if entry.heroType1_image.first != "" %}style="background-image: url('{{ entry.heroType1_image.first.url }}');"{% endif %}>
            <div class="heroType1-block-box">
              <div class="heroType1-block-box-content">
                  <div class="heroType1-block-breadcrumbs">
                    {% if entry.level > 1 %}
                        {% set bItems = entry.getAncestors()|length %}
                        {% set bItemsPrev = bItems - 2 %}

                        <a href="{{ siteUrl }}">HOME</a>
                        {% for crumb in entry.getAncestors()[bItemsPrev:bItems] %}
                          // {{ crumb.getLink() }} 
                        {% endfor %}
                    {% else %}
                      <a href="{{ siteUrl }}">HOME</a> 
                    {% endif %}  
                  </div>
                  <div class="heroType1-block-title">
                    <h1>{{ entry.heroType1_title }}</h1>
                  </div>
              </div>
            </div>
          </div>
      <!-- END Hero Block -->   
  {% endswitch %} 



<div class="content-page initiative-page">
{{ entry.initiativeHeaderSelector }}
    <!-- Share Icons -->
    <div class="shareIcons">
      <div>
        <div class="shareIcons-title">
          SHARE
        </div>
        <ul class="shareIcons-icons">
          <li>
            <a href="https://www.twitter.com/intent/tweet?url={{ entry.url | url_encode }}&amp;text=" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url | url_encode }}&amp;" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{ entry.title | url_encode }}&amp;body={{ entry.url | url_encode }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Share Icons -->


 
  {% set blockid = 0 %}
  {% for block in entry.initiativeBlocks.level(1).all() %}
  
    {% set blockid = blockid + 1 %}
    {% if craft.app.request.getQueryParam('x-craft-live-preview') %}<div class="previewBlockId">block-{{ block.type }}-{{ blockid }}</div>{% endif %}
    <a class="anchor-link" id="block-{{ block.type }}-{{ blockid }}" /></a>

    {% switch block.type.handle %}

      {% case  'bannerType2' %} {# Text besides images #}
        {% include '/v2/common/initiative-bannerType2'  with { block: block } %}

      {% case 'code' %}
        <div class="code-container">{{ block.code | raw }}</div> 

      {% case 'heroType1' %}
        {% include '/v2/common/heroType1' with { block: block } %}

      {% case 'stats' %} {# Stats Multi #}
        {% include '/v2/common/stats' with { block: block } %}

      {% case 'stat1' %} {# Stat-1 #}
        {% include '/v2/common/initiative-stat' with { block: block } %}

      {% case 'quoteBlockType1' %} {# Pull Quote #}
        {% include '/v2/common/quoteBlockType1' with { block: block } %}      
    
      {% case 'jumpLinks' %}
        {% include '/v2/common/jumpLinks' with { block: block } %}

      {% case 'listing' %}
        {% include '/v2/common/listing' with { block: block } %}

      {% case 'exploreMore' %}
        {% include '/v2/common/exploreMore'  with { block: block } %}

      {% case 'headerTitle' %}
        {% include '/v2/common/headerTitle'  with { block: block } %}

      {% case 'latestNews' %}
        {% include '/v2/common/latestNews' with { block: block } %}

      {% case 'newsHero' %}
        {% include '/v2/common/newsHero'     with { block: block } %}  

      {% case 'signUp' %}
        {% include '/v2/common/signUp'     with { block: block } %}     

      {% case 'newsItems' %}
        {% include '/v2/common/newsItems'  with { block: block } %}
      
      {% case 'copy' %}
        <!-- Copy Block -->
          <section class="copy-block-container">
            <div class="copy-block-content">
              {{ block.copy | shortcodes }}
            </div>
          </section>
        <!-- Copy Block -->
      
      {% case 'contactUs' %}
        {% include '/v2/common/contactUs.twig'  with { block: block } %}
      
      {% case 'bannerType3' %}{# Full width CTA without image #}        
        {% include 'v2/common/initiative-bannerType3' with { block: block } %}
      
      {% case 'inPageCta' %} {# In-page CTA #}
        {% include 'v2/common/initiative-bannerType4' with { block: block } %}
      
      {% case 'partners' %}
        {% include '/v2/common/partners'  with { block: block } %}

      {% case 'inPageCTA' %}
    	    {% include '/v2/common/inPageCTA' with { block: block } %}

      {% case 'resources' %} 
            <section class="resources-block-container">
              <div class="resources-block-content">
                <div class="resources-block-title">
                  {{ block.resourceFiles_title }}
                </div>
              <div class="resources-block-items">
               {% if block.resourceFiles_items %}
	              {% for block in block.resourceFiles_items %}
                    {% if block.type == 'subtitle' %}
                      <div class="resources-block-items-title">
                        {{ block.resourceFiles_subtitle }}
                      </div>
                    {% endif %}
                    {% if block.type == 'item' %}
                    <div class="resources-block-item"><a href="{{ block.resource_link.url }}"
                          class="icon-link">{{ block.resource_link.customText }}</a></div>                   
                    {% endif %}
                {% endfor %}
                </div>
              {% endif %}
              </div>
            </section>
      
      
      {% case 'map' %}  
        <div class="mapContainer">
          {% include '/vera-maps/mapsv2'  with { block: block } %}
        </div>       
    {% endswitch %}
  {% endfor %}    
</div>


<script>
var lnks = document .querySelectorAll('a[href*="#"]');
for (var i = 0; i < lnks.length; i++) {
    lnks[i].onclick = function(e){
    e.preventDefault();
    var  b = this; 
    var c = b.getAttribute("href").substring(1); 
    var el = document .querySelectorAll('a[name="'+c+'"]')[0];
	  window.scrollTo({
        top: el.offsetTop + 570, 
        behavior: "smooth"
    });
    };
}
</script>
{% endblock %}

