{% extends '_layout' %}
{% block content %}


<!-- Hero Block -->
  <div class="heroType1-container"  style="background-image: url('{{ entry.heroType1_image.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
          <div class="heroType1-block-breadcrumbs">
            {% if entry.level > 1 %}
                <a href="{{ siteUrl }}">HOME</a>
                {% for crumb in entry.getAncestors() %}
                  // {{ crumb.getLink() }} 
                {% endfor %}
            {% else %}
            <a href="{{ siteUrl }}">HOME</a>
            {% endif %}  
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.heroType1_title }}</h1>
          </div>
      </div>
    </div>
  </div>
<!-- END Hero Block -->


<div class="content-page initiative-page">

    <!-- Share Icons -->
    <div class="shareIcons">
      <div>
        <div class="shareIcons-title">
          SHARE
        </div>
        <ul class="shareIcons-icons">
          <li>
            <a href="https://www.twitter.com/intent/tweet?url={{ entry.url | url_encode }}&amp;text=" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url | url_encode }}&amp;" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{ entry.title | url_encode }}&amp;body={{ entry.url | url_encode }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Share Icons -->

  {% for block in entry.initiativeBlocks.level(1).all() %}
    {% switch block.type.handle %}
      {% case 'stats' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/stats' with { block: block } %}
      {% case 'onThisPage' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/onThisPage' with { block: block } %}
      {% case 'listing' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/listing' with { block: block } %}
      {% case 'exploreMore' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/exploreMore'  with { block: block } %}
      {% case 'headerTitle' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/headerTitle'  with { block: block } %}
      {% case 'latestNews' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/latestNews' with { block: block } %}
      {% case 'newsHero' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/newsHero'     with { block: block } %}  
      {% case 'signUp' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/signUp'     with { block: block } %}     
      {% case 'newsItems' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/newsItems'  with { block: block } %}
      {% case 'copy' %}
          {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
          <!-- Copy Block -->
          <section class="copy-block-container">
            <div class="copy-block-content">
              {{ block.copy | shortcodes }}
            </div>
          </section>
        <!-- Copy Block -->
      {% case 'contactUs' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/contactUs.twig'  with { block: block } %}
      {% case 'partners' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        {% include '/v2/common/partners'  with { block: block } %}
      {% case 'resources' %} 
          {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
            <section class="resources-block-container">
              <div class="resources-block-content">
                <div class="resources-block-title">
                  {{ block.resourceFiles_title }}
                </div>
              <div class="resources-block-items">
               {% if block.resourceFiles_items %}
	              {% for block in block.resourceFiles_items %}
                    {% if block.type == 'subtitle' %}
                      <div class="resources-block-items-title">
                        {{ block.resourceFiles_subtitle }}
                      </div>
                    {% endif %}
                    {% if block.type == 'item' %}
                    <div class="resources-block-item"><a href="{{ block.resource_link.url }}"
                          class="icon-link">{{ block.resource_link.customText }}</a></div>                   
                    {% endif %}
                {% endfor %}
                </div>
              {% endif %}
              </div>
            </section>
      {% case 'map' %}
        {% if block.anchorField is not null %}<a class="anchor-link" name="{{ block.anchorField }}" /></a>{% endif %}
        <div class="mapContainer">
          {% include '/vera-maps/mapsv2'  with { block: block } %}
        </div>       
    {% endswitch %}
  {% endfor %}    

</div>

<script>
var lnks = document .querySelectorAll('a[href*="#"]');
for (var i = 0; i < lnks.length; i++) {
    lnks[i].onclick = function(e){
    e.preventDefault();
    var  b = this; 
    var c = b.getAttribute("href").substring(1); 
    var el = document .querySelectorAll('a[name="'+c+'"]')[0];
	  window.scrollTo({
        top: el.offsetTop + 570, 
        behavior: "smooth"
    });
    };
}
</script>
{% endblock %}

