{% extends '_layout' %}
{% block content %}


<!-- Hero Block -->
  <div class="heroType1-container"  style="background-image: url('{{ entry.heroType1_image.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
          <div class="heroType1-block-breadcrumbs">
            {% if entry.level > 1 %}
                <a href="{{ siteUrl }}">HOME</a>
                {% for crumb in entry.getAncestors() %}
                  // {{ crumb.getLink() }} 
                {% endfor %}
            {% else %}
            <a href="{{ siteUrl }}">HOME</a>
            {% endif %}  
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.heroType1_title }}</h1>
          </div>
      </div>
    </div>
  </div>
<!-- END Hero Block -->


<div class="content-page initiative-page">

    <!-- Share Icons -->
    <div class="shareIcons">
      <div>
        <div class="shareIcons-title">
          SHARE
        </div>
        <ul class="shareIcons-icons">
          <li>
            <a href="https://www.twitter.com/intent/tweet?url={{ entry.url | url_encode }}&amp;text=" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url | url_encode }}&amp;" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{ entry.title | url_encode }}&amp;body={{ entry.url | url_encode }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Share Icons -->

  {% for block in entry.initiativeBlocks.level(1).all() %}
    {% switch block.type.handle %}
      {% case 'heroType1' %}
        {% include '/v2/common/heroType1'  with { block: block } %}
      {% case 'latestNews' %}
        {% include '/v2/common/latestNews' with { block: block } %}
      {% case 'copy' %}
        <!-- Copy Block -->
          <section class="copy-block-container">
            <div class="copy-block-content">
              {{ block.copy | shortcodes }}
            </div>
          </section>
        <!-- Copy Block -->
      {% case 'listing' %}
        {% include '/v2/common/listing' with { block: block } %}
      {% case 'contactUs' %}
        {% include '/v2/common/contactUs.twig'  with { block: block } %}
      {% case 'partners' %}
        {% include '/v2/common/partners'  with { block: block } %}
      {% case 'exporeMore' %}
        {% include '/v2/common/exploreMore'  with { block: block } %}
      {% case 'signUp' %}
        {% include '/v2/common/signUp'     with { block: block } %}              
      {% case 'newsItems' %}
        {% include '/v2/common/newsItems'  with { block: block } %}
      {% case 'headerTitle' %}
        {% include '/v2/common/headerTitle'  with { block: block } %}
      {% case 'resources' %} 
            <section class="resources-block-container">
              <div class="resources-block-content">
                <div class="resources-block-title">
                  {{ block.resourceFiles_title }}
                </div>
              {# {% for block in resources  %}
                  {% switch block.type.handle %}
                      {% case 'resource_subtitle' %}
                        <div class="resources-block-items-title">
                          {{ block.initiative_resources_subtitle }}
                        </div>

                          <div class="resources-block-items">
                            {% for resource_item in block.children %}
                                <div class="resources-block-item"><a href="{{ resource_item.initiative_resources_item.url }}" class="icon-link">{{ resource_item.initiative_resources_item.customText }}</a></div>
                            {% endfor %}
                          </div>
                        
                  {% endswitch %}
              {% endfor %}#}
              </div>
            </section>
      {% case 'map' %}
        <div class="mapContainer">
          {% include '/vera-maps/mapsv2'  with { block: block } %}
        </div>       
    {% endswitch %}
  {% endfor %}    



</div>
{% endblock %}

