{% extends '_layout' %}

{% block content %}

  {% set blocks  = entry.contentDetailBlocks %}

  <div class="heroType1-container"  style="background-image: url('{{ entry.contentDetail_heroImage.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
        <div class="heroType1-block-breadcrumbs">
           {% if entry.level > 1 %}
              <a href="">HOME</a>
              {% for crumb in entry.getAncestors() %}
                // {{ crumb.getLink() }} 
              {% endfor %}
          {% else %}
            <a href="">HOME</a>
          {% endif %} 
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.contentDetail_heroTitle }}</h1>
          </div>
        </div>
      </div>
  </div>



<div class="content-page content-detail">

    <!-- Share Icons -->
    <div class="shareIcons">
      <div>
        <div class="shareIcons-title">
          SHARE
        </div>
        <ul class="shareIcons-icons">
          <li>
            <a href="https://www.twitter.com/intent/tweet?url={{ entry.url | url_encode }}&amp;text=" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url | url_encode }}&amp;" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{ entry.title | url_encode }}&amp;body={{ entry.url | url_encode }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Share Icons -->

    {% for block in blocks %}

      {% if block.type == 'headerTitle' %}
        {% include 'v2/common/headerTitle' with { block: block } %}
      {% elseif block.type == 'copy' %}
        {% include 'v2/common/copy'  with { block: block } %}
      {% elseif block.type == 'twoColumns' %}
    	  {% include 'v2/common/copy-twoColumns' with { block: block } %}
      {% elseif block.type == 'threeColumns' %}
    	  {% include 'v2/common/copy-threeColumns' with { block: block } %}
      {% elseif block.type == 'stats' %}
    	  {% include 'v2/common/stats' with { block: block } %}
      {% elseif block.type == 'signUp' %}
        {% include 'v2/common/signUp.twig'  with { block: block } %}
      {% elseif  block.type == 'video' %}
        {% include 'v2/common/videoBlock' with { block: block } %}
      {% elseif block.type == 'featuredType1' %}
        {% include 'v2/common/featuredType1' with { block: block } %}
      {% elseif block.type == 'featuredType2' %}
        {% include 'v2/common/featuredType2' with { block: block } %}
      {% elseif block.type == 'audioBlock' %}
    	  {% include 'v2/common/audioBlock' with { block: block } %}
      {% elseif block.type == 'quoteBlockType1' %}
    	  {% include 'v2/common/quoteBlockType1' with { block: block } %}
      {% elseif  block.type == 'swiperSlider' %}
        {% include 'v2/common/swiperSlider' with { block: block } %}
      {% elseif  block.type == 'relatedItems' %}
        {% include 'v2/common/relatedItems' with { block: block } %}
      {% elseif  block.type == 'content_bannerCenter' %}
        {% include 'v2/common/bannerType4' with { block: block } %}
      {% elseif  block.type == 'latestNewsItems' %}
        {% include 'v2/common/newsItems' with { block: block } %}
      {% endif %}
    {% endfor %}

</div>

{% endblock %}
