{% extends '_layout' %}
{% set title = entry.title %}
{% block content %}

  {% set blocks  = entry.contentDetailBlocks %}

  <div class="heroType1-container"  style="background-image: url('{{ entry.contentDetail_heroImage.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
        <div class="heroType1-block-breadcrumbs">
           {% if entry.level > 1 %}
              <a href="{{ siteUrl }}">HOME</a>
              {% for crumb in entry.getAncestors() %}
                // {{ crumb.getLink() }} 
              {% endfor %}
          {% else %}
            <a href="{{ siteUrl }}">HOME</a>
          {% endif %} 
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.contentDetail_heroTitle }}</h1>
          </div>
        </div>
      </div>
  </div>



<div class="content-page content-detail">

     <!-- Share Icons -->
     {% include 'v2/common/shareIcons' with { entry:entry } %}
    <!-- Share Icons -->

    {% set blockid = 0 %}

    {% for block in blocks %}

      {% set blockid = blockid + 1 %}
      {% if craft.app.request.getQueryParam('x-craft-live-preview') %}<div class="previewBlockId">block-{{ block.type }}-{{blockid}}</div>{% endif %}
      <span class="anchor-link" id="block-{{ block.type }}-{{blockid}}" /></span>

      {% if block.type == 'headerTitle' %} {# Header - no image  #}
        {% include 'v2/common/headerTitle' with { block: block } %}

      {% elseif block.type == 'heroType1' %} {# Header #}
        {% include 'v2/common/heroType1' with { block: block } %}

      {% elseif block.type == 'copy' %}
        {% include 'v2/common/copy'  with { block: block } %}

      {% elseif block.type == 'stats' %}  {# Stats Multi #}
    	  {% include 'v2/common/stats' with { block: block } %}

      {% elseif block.type == 'quote' %}  {# Stat-1 #}
    	  {% include 'v2/common/quote' with { block: block } %}

      {% elseif block.type == 'quoteBlockType1' %} {# Pull Quote #}
    	  {% include 'v2/common/quoteBlockType1' with { block: block } %}    

      {% elseif block.type == 'twoColumns' %}
    	  {% include 'v2/common/copy-twoColumns' with { block: block } %}

      {% elseif block.type == 'threeColumns' %}
    	  {% include 'v2/common/copy-threeColumns' with { block: block } %}

      {% elseif block.type == 'signUp' %}
        {% include 'v2/common/signUp.twig'  with { block: block } %}
        
      {% elseif  block.type == 'video' %}
        {% include 'v2/common/videoBlock' with { block: block } %}

      {% elseif block.type == 'featuredType1' %}
        {% include 'v2/common/featuredType1' with { block: block } %}

      {% elseif block.type == 'featuredType2' %}
        {% include 'v2/common/featuredType2' with { block: block } %}

      {% elseif block.type == 'audioBlock' %}
    	  {% include 'v2/common/audioBlock' with { block: block } %}

      {% elseif  block.type == 'relatedItems' %}
        {% include 'v2/common/relatedItems' with { block: block } %}

      {% elseif  block.type == 'bannerType4' %}
        {% include 'v2/common/bannerType4' with { block: block } %}

      {% elseif  block.type == 'slideshow' %}
        {% include 'v2/common/swiperSlider' with { block: block } %}
      
      {% elseif block.type == 'listing' %} {# Listing #}
    	  {% include 'v2/common/listing' with { block: block } %}
      
      {% elseif block.type == 'newsHero' %} {# Latest News Hero #}
    	  {% include 'v2/common/newsHero' with { block: block } %}	

      {% elseif  block.type == 'newsItems' %} {# Latest News Items #}
        {% include 'v2/common/newsItems' with { block: block } %}

      {% elseif  block.type == 'exploreMore' %} {# Expore More #}
        {% include 'v2/common/exploreMore.twig'  with { block: block } %}   
      
      {% elseif  block.type == 'bannerType3' %} {# Full width CTA without image #}
        {% include 'v2/common/bannerType3' with { block: block } %}
      
      {% elseif block.type == 'bannerType2' %} {# Text besides images #}
        {% include 'v2/common/bannerType2'  with { block: block } %}
      
      {% elseif block.type == 'map' %}
        <div class="mapContainer">
          {% include 'vera-maps/mapsv2'  with { block: block } %}
        </div>      
      
      {% elseif block.type == 'code' %}
        <div class="code-container">{{ block.code | raw }}</div> 
      
      {% elseif block.type == 'contactUs' %}
        {% include 'v2/common/contactUs.twig'  with { block: block } %}
      
      {% elseif block.type == 'partners' %}
        {% include 'v2/common/partners'  with { block: block } %}
      
      {% elseif block.type == 'inPageCTA' %}
    	  {% include 'v2/common/inPageCTA' with { block: block } %}

      {% elseif block.type == 'jumpLinks' %}
          {% include 'v2/common/jumpLinks' with { block: block } %}

      {% elseif block.type == 'partners' %}
          {% include 'v2/common/partners' with { block: block } %}
        
      {% endif %}
    {% endfor %}

</div>

{% endblock %}
