<!-- Hero Block -->
  <div class="heroType1-container"  style="background-image: url('{{ block.heroType1_image.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
        <div class="heroType1-block-breadcrumbs">
          {# {% if entry.level > 1 %}
              <a href="{{ siteUrl }}">HOME</a>
              {% for crumb in entry.getAncestors() %}
                // {{ crumb.getLink() }} 
              {% endfor %}
          {% else %}#}
          <a href="{{ siteUrl }}">HOME</a>
          {# {% endif %}  #}
          </div>
          <div class="heroType1-block-title">
            <h1>{{ block.heroType1_title }}</h1>
          </div>
        </div>
      </div>
    </div>
<!-- END Hero Block -->