  <style>
   :root { --imagehero{{ block.id }}: url('{{ block.heroType2_image.first.url }}'); }
   .heroType2-image { background-image: linear-gradient(to left, rgb(245 246 252 / 0%) 30%, rgb(0 0 0 / 100%) 70%), var(--imagehero{{ block.id }}) }
  @media (max-width: 760px) {
    .heroType2-image { background-image: linear-gradient(to bottom, rgb(245 246 252 / 0%) 30%, rgb(0 0 0 / 100%) 70%), var(--imagehero{{ block.id }}) }
  }
  </style>
  <!-- Hero Hero Type 2 Block -->
  <div class="heroType2">
    <div class="heroType2-image">
      <div class="heroType2-container">
        <h2 class="heading-2 heroType2-container-title">{{ block.heroType2_title }}</h2>
      </div>
      
    </div>
    <div class="heroType2-content">
      {{ block.heroType2_copy }}
    </div>
  </div>
  <!-- END Hero Type 2 Block -->
