<div class="home-content">
  <div class="home-content-items">
    {% for chartItem in block.HomeCharts %}
      <div class="home-content-item">
        <div class="home-content-item-left">
          <div class="home-content-item-left-title">
            {{ chartItem.homeItemsTitle }}
          </div>
          <div class="home-content-item-left-copy">
            {{ chartItem.homeItemsCopy }}
          </div>
          <div class="home-content-item-left-cta">
            <a href="{{ chartItem.homeItemsCTA.getUrl() }}" class="button button-2x orange arrow"><span> {{ chartItem.homeItemsCTA.customText }}</span></a>
          </div>    
        </div>

        <div class="home-content-item-right 
          {% if chartItem.homeItemsLayout == 'vertical' %}vertical{% endif %} 
          {% if chartItem.homeItemsLayout == 'horizontal' %}horizontal{% endif %} 
          {% if chartItem.homeItemsLayout  == 'single' %}single{% endif %} ">

          <div class="home-content-item-right-image">
           <img src="{{ chartItem.homeItemsGraphImage.first.url }}"/>
           <!-- <object id ="animated-svg" type="image/svg+xml" data=""></object>-->
          </div>

          <div class="home-content-item-right-copy">
            {{ chartItem.homeItemsGraphCopy }}
          </div>

        </div>
        
        <div class="home-content-item-cta">
          <a href="{{ chartItem.homeItemsCTA.getUrl() }}" class="button button-2x orange arrow"><span> {{ chartItem.homeItemsCTA.customText }}</span></a>
        </div>
      </div>  
    {% endfor %} 
  </div>
</div>