<!-- Banner Type 2 -->
<section class="banner-block-container">
  <div class="banner-block-content {{ block.bannerType2_reverse }}">
    <a href="{{ block.bannerType2_cta.getUrl() }}" class="banner-block-copy">
        <div class="banner-block-copy-title">
          {{ block.bannerType2_title }}
        </div>
        <div class="banner-block-copy-subtitle">
          {{ block.bannerType2_subtitle }}
        </div>
        <div class="banner-block-copy-link">
          <span class="button arrowType2 arrowHoverWhite">{{ block.bannerType2_cta.customText }}</span>
        </div>
    </a>
    <div class="banner-block-image" style="background-image: url('{{ block.bannerType2_image.first.url }}')"></div>
  </div>
</section>
<!-- END Banner Type 2 -->