<section class="inPageCTA-container">
  <div class="inPageCTA-text">

      <div class="inPageCTA-text-title">
       {{ block.inPageCTA_title }}
      </div>

      <div class="inPageCTA-text-subtitle">
       {{ block.inPageCTA_subtitle }}
      </div>

      <div>
          <a href="{{ block.inPageCTA_cta.getUrl() }}"  class="button button-2x orange arrow">
            <span>{{ block.inPageCTA_cta.customText }}</span>
          </a>
      </div>

    
  </div>
  <div class="inPageCTA-image">

   {% set image = block.inPageCTA_image.one() ?? null %}
    <img
      src="{{ image.getUrl('image520x418') }}"
      alt="">
  </div>
</section>