
{% set featuredImage = {
  mode: 'crop',
  width: 401,
  height: 344,
  quality: 95,
  position: 'center-center',
  format: 'webp'
} %}

{{ block.featuredStory_ctaLink.getUrl()  }}ccc
<!-- Latest News -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content headTitle-content--small">
      <div class="headTitle-title">
        <h3 class="separator separator-hide left-aligned"><span>{{ block.featuredStory_title }}</span></h3>
      </div>
    </div>
  </section>

  <section class="block-latestNews">
      <div class="block-latestNews-content">    

        <div class="latest-hero-sidebar js-scroll">
          <div class="latest-hero-sidebar-left">
            <div class="latestNews-hero">


{% if block.featuredStory_ctaLink.getUrl()  == null %}

                {% if block.featuredStory_cta.first.type.handle == 'resourceSite' %}
                  <a href="{{ block.featuredStory_cta.first.linkUrl }}" target="_blank" class="latestNews-hero-container">
                {% else %}
                  <a href="{{ block.featuredStory_cta.first.url }}" class="latestNews-hero-container">
                {% endif %}
                <div class="latestNews-hero-copy">
                  <div>
                    <div class="latestNews-hero-copy-category">
                         <!-- {{ block.featuredStory_cta.first.type.handle }} -->
                      {% if block.featuredStory_cta.first.type.handle in ['specialReportSingle','specialReportChaptered','specialReport','specialReportCampaign'] %}
                        SPECIAL REPORT
                      {% else %}
                         <p>{{ block.featuredStory_cta.first.type.name | title | upper }}</p>
                      {% endif %}
                    </div>
                      <div class="latestNews-hero-copy-title">
                        <h4 class="h4">{{ block.featuredStory_cta.first.title }}</h4>
                      </div>
                      <span class="theButton">
                        <span>Read Now<div class="theArrow"></div></span>
                      </span>
                  </div>
                </div>
{% else %}

 <a href="{{ block.featuredStory_ctaLink.getUrl() }}" target="_blank" class="latestNews-hero-container">
             <div class="latestNews-hero-copy">
                  <div>
                    <div class="latestNews-hero-copy-category">
       

        
                    </div>
                      <div class="latestNews-hero-copy-title">
                        <h4 class="h4">{{ block.featuredStory_ctaLink.customText }}</h4>
                      </div>
                      <span class="theButton">
                        <span>Read Now<div class="theArrow"></div></span>
                      </span>
                  </div>
                </div>
{% endif %}
                <div class="latestNews-hero-image">
                  <img src="{{ block.featuredStory_image.first.getUrl(featuredImage) }}" alt="">
                </div>

                <div class="latestNews-hero-bg"></div>
              </a>

            </div>
          </div>

          <div class="latest-hero-sidebar-right">
            <div class="latest-hero-sidebar-right-SideItems">
              <div>
              		{% if block.latestNews_newsItems |length %}
                    {% for newsItem in block.latestNews_newsItems %}
                      <div class="sideItems-item">
                        <div class="sideItems-item-tag">

                            {% if  newsItem.type.handle in ['specialReportSingle','specialReportChaptered','specialReport','specialReportCampaign'] %}
                              Special Report
                            {% else %}
                              <p>{{  newsItem.type.name | title | upper }}</p>
                            {% endif %}
                                               
                          </div>
                        <div class="sideItems-item-title"><a href="{{ newsItem.url }}">{{ newsItem.title }}</a></div>
                        <div class="sideItems-item-date">{{ newsItem.postDate | date("M d, Y") }}</div>
                      </div>
                    {% endfor %}
                  {% endif %} 
              </div>
            </div>
          </div>
        </div>
       </div>
    </section>
<!-- Latest News -->