<!-- Listing Blocks -->
  <section class="block-listing">
    <h5 class="block-listing-title">{{ block.listing_title }}</h5>
    <div class="block-listing-content">
        {% if block.listing_articles|length %}
          {% for statsItem in block.listing_articles %}
            <a class="block-listing-item"  href="{{ statsItem.url }}">
              <div class="block-listing-item-tag">
                {{ statsItem.type.name | title | upper }}
              </div>
              <div class="block-listing-item-title">
                <p>{{ statsItem.title }}</p>
              </div>
              <div class="block-listing-item-date">{{ statsItem.postDate | date("M d, Y") }}</div>
            </a>
          {% endfor %}
        {% endif %}
    </div>
  </section>
<!-- Listing Blocks -->