
<!-- Latest News Items -->
    <section class="block-latestNews">
    	<div class="block-latestNews-content">
				{% if block.newsItems_item |length %}
    		<div class="latestNews-items">
    		  {% for newsItem in block.newsItems_item %}
						<!-- {{ newsItem.type.handle }} -->

						{% if newsItem.streamImageRectangle | length %}
							{% set imageset = newsItem.streamImageRectangle.first %}
						{% endif %}

					  {% switch newsItem.type.handle %}
   						{% case 'story' %}
  							{% if newsItem.heroImage is not null %}
                    {% set imageset = newsItem.heroImage.first %}
                {% elseif newsItem.streamImageSquare is not null %}
                    {% set imageset = newsItem.streamImageSquare.first %}
                {% endif %} 	
									
						{% endswitch %}

					
          <a href="{{ newsItem.url }}" class="latestNews-item">
    				<div class="latestNews-item-category">
    					<p>{{ newsItem.type.name | title | upper }}</p>
    				</div>
    				<div class="latestNews-item-image"
    					style="background-image: url('{{ imageset.getUrl() }}');">
    				</div>
    				<div class="latestNews-item-copy">
    					<h5 class="latestNews-item-copy-title">
    						<span>{{ newsItem.title }}</span>
    					</h5>
    					<div class="latestNews-item-copy-date">
    						<time datetime="2018-07-07">{{ newsItem.postDate | date("M d, Y") }}</time>
    					</div>
    				</div>
    			</a>
          {% endfor %}
    		</div>
				{% endif %} 

					{% if block.newsItems_button %}
						<div class="latestNews-items-link">
						<a href="{{ siteUrl }}news-and-stories">View more news & stories<span class="icon-arrow"></span></a>
						</div>
					{% endif %}

    	</div>
    </section>
<!-- Latest News  Items -->