
<!-- Latest News Items -->
    <section class="block-latestNews -h">
    	<div class="block-latestNews-content">
				{% if block.newsItems_item |length %}
    		<div class="latestNews-items">
    		  {% for newsItem in block.newsItems_item %}
          		{% if newsItem.streamImageRectangle | length %}
			            {% set imageset = newsItem.streamImageRectangle %}
              {% endif %}
          <a href="{{ newsItem.url }}" class="latestNews-item">
    				<div class="latestNews-item-category">
    					<p>{{ newsItem.type.name | title | upper }}</p>
    				</div>
    				<div class="latestNews-item-image"
    					style="background-image: url('{{ imageset.first.url }}');">
    				</div>
    				<div class="latestNews-item-copy">
    					<h5 class="latestNews-item-copy-title">
    						<span>{{ newsItem.title }}</span>
    					</h5>
    					<div class="latestNews-item-copy-date">
    						<time datetime="2018-07-07">{{ newsItem.postDate | date("M d, Y") }}</time>
    					</div>
    				</div>
    			</a>
          {% endfor %}
    		</div>
				{% endif %} 
				<div class="latestNews-items-link">
				 <a href="#">View more news & stories</a>
				</div>
    	</div>


    </section>
<!-- Latest News  Items -->