<!-- Latest News -->
  <section class="block-latestNews">
    	<div class="block-latestNews-content">
				{% if block.newsHero_article|length %}
				  {% set heroNews = block.newsHero_article.one() %}
					<div class="latestNews-hero">
						<a class="latestNews-hero-container js-scroll" href="{{ heroNews.url }}">
							<div class="latestNews-hero-copy">
								<div>
									<div class="latestNews-hero-copy-category">
										<p>{{  heroNews.type.name | title | upper }}</p>
									</div>
									<div class="latestNews-hero-copy-title">
										<span><h4>{{ heroNews.title }}</h4></span>
									</div>

									{% if block.newsHero_subtitle %}
										<div class="latestNews-hero-copy-excerpt">
											<p>{{ block.newsHero_subtitle }}</p>
										</div>
									{% endif %}
									
									<div class="latestNews-hero-copy-date">
										<p>{{ heroNews.postDate | date("M d, Y") }}</p>
									</div>
								</div>
							</div>
							<div class="latestNews-hero-image">
								<img src="{{ block.newsHero_image.first.url }}" alt="">
							</div>
							<div class="latestNews-hero-bg"></div>
						</a>
					</div>
				{% endif %} 
    	</div>
  </section>
<!-- Latest News -->