
    <!-- Partners -->
    <section class="partners-block-container">
      <div class="headTitle bgColor-darkviolet">
        <div class="headTitle-content headTitle-content--small">
          <div class="headTitle-title ">
            <h3 class="separator left-aligned"><span>{{ block.partnersBlock_title }}</span></h3>
          </div>
        </div>
      </div>

      <div class="partners-block-content">

        <div class="partners-block-copy">
          {{ block.partnersBlock_subtitle }}
        </div>

        <div class="partners-block-logos">
          {% if block.partnersBlock_items|length %}
            {% for partner in block.partnersBlock_items %}
             {% if partner.partner_website is not null %} <a href="{{ partner.partner_website }}" target="_blank">{% else %}<div>{% endif %}
                {% if partner.partner_logo.first.url is not null %}
                  <img src="{{ partner.partner_logo.first.url }}" alt="{{ partner.title }}">
                {% else %}
                  <p>{{ partner.title }}<p>
              {% endif %}
              {% if partner.partner_website is not null %}</a>{% else %}</div>{% endif %}
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </section>
    <!-- Partners -->