
    <!-- Partners -->
    <section class="partners-block-container">
      <div class="headTitle bgColor-darkviolet">
        <div class="headTitle-content headTitle-content--small">
          <div class="headTitle-title ">
            <h3 class="separator left-aligned"><span>{{ block.partners_title }}</span></h3>
          </div>
        </div>
      </div>

      <div class="partners-block-content">

        <div class="partners-block-copy">
          {{ block.partners_subtitle }}
        </div>

        <div class="partners-block-logos">
          {% if block.partners|length %}
            {% for partner in block.partners %}
              <div>
                {% if partner.partner_logo.first.url is not null %}
                  <img src="{{ partner.partner_logo.first.url }}" alt="{{ partner.title }}">
                {% else %}
                  <p>{{ partner.title }}<p>
              {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </section>
    <!-- Partners -->