{% set video = block.video %}
<div class="videoBlock-container js-scroll">
	<div class="videoBlock-content ">

		<div class="videoBlock-video">
			{% set id = video.id ~ "__" ~ random() %}
				<div id="player__{{ id }}" class="video-player-v2 {{ video.gatewayHandle }}" data-videoid="{{ video.id }}">
					<div id="iframe__{{ video.id }}" class="iframe_target"></div>
					<div class="video-cover" style="background-image: url('{{ video.thumbnailSource }}');">
						<div class="btnVideoPlay playVideo"><span></span></div>
					</div>
				</div>
		</div>
		<div class="videoBlock-copy">
				<div class="videoBlock-copy-title">{{ block.video_title }}</div>
				<div class="videoBlock-copy-description">
				{{ block.video_description }}<br><br>				
				<p>{{ video.getDuration() }} min</p>
				</div>
		</div>
	</div>
			<div class="videoBlock-bg"></div>
</div>

