{# set filterTypesEncode =  craft.request.getParam('types')|json_encode #}

{% if streamOptions.filterTypes is defined %}

  {% for type_option in streamOptions.filterTypes %}
    <div class="dropMenu dropdown-types">
     <div class="slabel searchLabel">Type</div>
     
      <button class="dropdown-toggle" type="button" id="menuTypes" aria-haspopup="true">
        <span class="dropdown-text-types">Resource Type</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-types" id="listTypes" aria-labelledby="menuTypes">
        {% for type in type_option.relations %}
          
            {% set type_id   = type.id %}
            {% set type_slug = 'type' %}
      
          <li class="checkFilter">
            <input type="checkbox" name='optionsTypes[]' 
            id="{{ type_id }}" 
            class="{{ type_slug }}_checkbox option" 
            value="{{ type_id }}"  
            data-type="{{ type_option.type }}" {% if typeArray is defined  %} {% if type_id in typeArray %}checked{% endif %}{% endif %}/>
            <label class="labelTopic" for="{{ type_id }}">
                {{ type }}
            </label>
          </li>
        {% endfor %}
        <li class="applybtn"><button type="Button" class="apply ctaSearch">APPLY</button></li> 
      </ul>
    </div>
  {% endfor %}

{% endif %}


