
{% set relencode =  craft.request.getParam('relations')|json_encode %}
{% if streamOptions.filterRelations is defined %}
  {% for relationBlock in streamOptions.filterRelations %}
    <div class="dropMenu dropdown-areas">
     <div class="slabel searchLabel">Topic</div>
      <button class="dropdown-toggle" type="button" id="menuRelations" aria-haspopup="true">
        <span class="dropdown-text-relations">Select Topic</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-relations" id="listRelations" aria-labelledby="menuRelations">
        {% for relation in relationBlock.relations %}
          {% if relationBlock.type == 'type' %}
            {% set relation_id = relation.handle %}
            {% set relation_type = 'type' %}
          {% else %}
            {% set relation_id = relation.id %}
            {% set relation_type = 'relation' %}
          {% endif %}
          <li class="checkFilter">
            <input type="checkbox" name='optionsRelations[]' id="{{ relation_id }}" class="{{ relation_type }}_checkbox option justone" value="{{ relation_id }}"  data-type="{{ relationBlock.type }}" {% if relacionesArray is defined  %} {% if relation_id in relacionesArray %}checked{% endif %}{% endif %}/>
            <label class="labelTopic" for="{{ relation_id }}">
              {% if relationBlock.title == 'Action Areas' %}
                {% set workRelation = craft.entries.section('ourWork').relatedTo(relation).first %}
                {% set shortTitle = workRelation ? workRelation.shortTitle %}
                {% if shortTitle %}
                  {{ shortTitle }}
                {% else %}
                  {{ relation }}
                {% endif %}
              {% elseif relationBlock.type == 'type' %}
                {{ relation.name }}
              {% else %}
                {{ relation }}
              {% endif %}
            </label>
          </li>
        {% endfor %}
        <li class="applybtn"><button type="Button" class="apply ctaSearch">APPLY</button></li> 
      </ul>
    </div>
  {% endfor %}
{% endif %}
