
{#
{% set filterTypes =  craft.request.getParam('types')|json_encode %}

{% if streamOptions.filterTypes | length %}
  {% if streamOptions.sections|length == 1 %}
    {% set section = streamOptions.sections[0] %}
    <input type="hidden" checked id="{{ section[1] }}" value="{{ section[1] }}" class="section_checkbox"/>
  {% else %}
   <div class="dropMenu dropdown-topic">
      <div class="slabel searchLabel">Type</div>
      <button class="dropdown-toggle" type="button" id="menuTopic" aria-haspopup="true">
        <span class="dropdown-text-section">Select resource type</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-section" id="listTopic" aria-labelledby="menu">
        {% for section in streamOptions.sections %}
          <li class="checkFilter">
            <input type="checkbox" name='optionsTopic[]'  id="{{ section[1] }}" value="{{ section[1] }}" class="option justone section_checkbox" {% if section[1] in searchSections %}checked{% endif %}/>
            <label class="labelTopic" for="{{ section[1] }}">{{ section[0] }}</label>
          </li>
        {% endfor %}
        <li class="applybtn"><button type="Button" class="apply ctaSearch">APPLY</button></li>
      </ul>
    </div>
  {% endif %}
{% endif %}
#}

