
{% if streamOptions.fieldOptions is defined %}
  <div>
    <span>{{ streamOptions.fieldOptions.title }}</span>
    <ul>
      {% for option in streamOptions.fieldOptions.options %}
        <li><input type="checkbox" id="{{ option.title|replace(' ','_')|lower }}" class="field_checkbox" data-option={{ option.option | json_encode | raw }}/>
          <label for="{{ option.title|replace(' ','_')|lower }}">{{ option.title }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% include 'v2/templates/solutionsResearch/filterTopic' %}

{% include 'v2/templates/solutionsResearch/filterTypes' %}

{% include 'v2/templates/solutionsResearch/filterLocations' %}

{% include 'v2/templates/solutionsResearch/filterDate' %}

{#
  Types
#}
{#
{% set filterTypes =  craft.request.getParam('types')|json_encode %}

{% if streamOptions.filterTypes | length %}
  {% if streamOptions.sections|length == 1 %}
    {% set section = streamOptions.sections[0] %}
    <input type="hidden" checked id="{{ section[1] }}" value="{{ section[1] }}" class="section_checkbox"/>
  {% else %}
   <div class="dropMenu dropdown-topic">
      <div class="slabel searchLabel">Type</div>
      <button class="dropdown-toggle" type="button" id="menuTopic" aria-haspopup="true">
        <span class="dropdown-text-section">Select resource type</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-section" id="listTopic" aria-labelledby="menu">
        {% for section in streamOptions.sections %}
          <li class="checkFilter">
            <input type="checkbox" name='optionsTopic[]'  id="{{ section[1] }}" value="{{ section[1] }}" class="option justone section_checkbox" {% if section[1] in searchSections %}checked{% endif %}/>
            <label class="labelTopic" for="{{ section[1] }}">{{ section[0] }}</label>
          </li>
        {% endfor %}
        <li class="applybtn"><button type="Button" class="apply ctaSearch">APPLY</button></li>
      </ul>
    </div>
  {% endif %}
{% endif %}
#}



<script>

$("#menuTopic").on('click',function(){
  var CheckT = $("#menuTopic").attr("aria-expanded");
   if ( CheckT == "true") {
      $("#menuTopic").attr("aria-expanded", "false");
      $("#listTopic").attr("aria-hidden", "true");
 } else {
      $("#menuTopic").attr("aria-expanded", "true");
      $("#listTopic").attr("aria-hidden", "false");
 }
});


$("#menuRelations").on('click',function(){
  var CheckR = $("#menuRelations").attr("aria-expanded");
 if ( CheckR == "true") {
      $("#menuRelations").attr("aria-expanded", "false");
      $("#listRelations").attr("aria-hidden", "true");
 } else {
      $("#menuRelations").attr("aria-expanded", "true");
      $("#listRelations").attr("aria-hidden", "false");
 }
});


$("#menuLocations").on('click',function(){
  var CheckR = $("#menuLocations").attr("aria-expanded");
 if ( CheckR == "true") {
      $("#menuLocations").attr("aria-expanded", "false");
      $("#listLocations").attr("aria-hidden", "true");
 } else {
      $("#menuLocations").attr("aria-expanded", "true");
      $("#listLocations").attr("aria-hidden", "false");
 }
});
</script>
