    <div class="newsLanding-head">
      <div class="newsLanding-head-title">Select a topic</div>
      <div class="newsLanding-head-filter">
          <a href="{{ siteUrl }}news-and-stories" class="button-sand {% if entry.type == 'news_stories' %} active {% endif %}">Press Releases</a>      
          <a href="{{ siteUrl }}news-and-stories-events" class="button-sand {% if entry.type == 'news_stories_events' %} active {% endif %}">Events</a>
          <a href="{{ siteUrl }}news-and-stories-news" class="button-sand {% if entry.type == 'news_stories_news' %} active {% endif %}">News</a>
          <a href="{{ siteUrl }}" class="button-sand">Analysis</a>
          <a href="{{ siteUrl }}" class="button-sand">Special Features</a>
      </div>
    </div><!-- newsLanding-head -->