    <div class="newsLanding-head">
      <div class="newsLanding-head-title">Filter By:</div>
      <div class="newsLanding-head-filter">
        <a href="{{ siteUrl }}news-and-stories" class="button-sand {% if actual == 'blogPosts' %}active{% endif %}">News</a>
        <a href="{{ siteUrl }}news-and-stories-series" class="button-sand {% if actual == 'blogSeries' %}active{% endif %}">News Series</a> <!-- blogSeries -->
        <a href="{{ siteUrl }}news-and-stories-special-reports" class="button-sand {% if actual == 'specialReports' %}active{% endif %}">Special Reports</a> <!-- specialReports	 -->
        <a href="{{ siteUrl }}news-and-stories-spotlights" class="button-sand {% if actual == 'spotlights' %}active{% endif %}">Spotlights</a> <!-- spotlights -->
      </div>
      <div class="newsLanding-head-title-topic">Select a topic</div>
      <ul class="drop">
        <li>All
        <span>
           <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6.82353 7L12 1" stroke="#EF4136" stroke-width="2"/>
          </svg>
        </span>
        </li>
        <li>
          <a href="{{ siteUrl }}news-and-stories" class="button-sand {% if actual == 'blogPosts' %}active{% endif %}">News</a>
        </li>
        <li>
          <a href="{{ siteUrl }}news-and-stories-series" class="button-sand {% if actual == 'blogSeries' %}active{% endif %}">News Series</a> <!-- blogSeries -->
        </li>
        <li>
          <a href="{{ siteUrl }}news-and-stories-special-reports" class="button-sand {% if actual == 'specialReports' %}active{% endif %}">Special Reports</a> <!-- specialReports	 -->
        </li>
        <li>
          <a href="{{ siteUrl }}news-and-stories-spotlights" class="button-sand {% if actual == 'spotlights' %}active{% endif %}">Spotlights</a> <!-- spotlights -->
        </li>
      </ul>

    </div><!-- newsLanding-head -->