{% extends '_layout' %}

{% block content %}

{% set filterCat      = craft.app.request.getQueryParam('filter') %}

{% set headerTitle    = entry.mediaPress_headerTitle %}
{% set pageTitle      = entry.mediaPress_pageTitle %}
{% set pageCopy       = entry.mediaPress_copy %}

{% set bannerTitle    = entry.banner_title %}
{% set bannerSubtitle = entry.banner_subtitle %}
{% set bannerCta      = entry.banner_cta %}

<!-- Latest News 2 -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content">
      <div class="headTitle-breadcrumb"><a href="{{ siteUrl }}">HOME</a> // <a href="{{ entry.url }}">NEWS & STORIES</a></div>
      <div class="headTitle-title">
        <h3 class="separator left-aligned"><span>{{ headerTitle }}</span></h3>
      </div>
    </div>
  </section>
<!-- Latest News -->

  <div class="mediaContacts">

    <div class="mediaContacts-header">
      <div class="mediaContacts-header-title">{{ pageTitle }}</div>
      <div class="mediaContacts-header-copy">{{ pageCopy }}</div>
      <div class="mediaContacts-header-filter">Filter By:</div>
          <div class="mediaContacts-header-links">
            <a href="{{ entry.url }}/"  class="button-sand {% if filterCat  == '' %}active{% endif %}">View all</a>
            <a href="{{ entry.url }}/?filter=pressReleases" class="button-sand {% if filterCat  == 'pressReleases' %}active{% endif %}">Press releases</a>
            <a href="{{ entry.url }}/?filter=mediaCoverage"  class="button-sand {% if filterCat  == 'mediaCoverage' %}active{% endif %}">Media coverage</a>
          </div>   
    </div>


    <div class="mediaContacts-items">

      {% switch filterCat %}
         {% case 'mediaCoverage' %}
           {% set totalEntries = craft.entries.section('news').limit(10).count() %}
           {% paginate craft.entries.section('news').limit(10) as pageInfo, pageEntries %}
         {% case 'pressReleases'%}
           {% set totalEntries = craft.entries.section('pressReleases').limit(10).count() %}
           {% paginate craft.entries.section('pressReleases').limit(10) as pageInfo, pageEntries %}
         {% default %}
           {% set totalEntries = craft.entries.section(['pressReleases','news']).limit(10).count() %}
           {% paginate craft.entries.section(['pressReleases','news']).limit(10) as pageInfo, pageEntries %}
      {% endswitch %}

      {% for entry in pageEntries %}

        {% if loop.index == 8 %}
          <!-- Banner Type 4 -->
          <section class="bannerType4">
            <div class="bannerType4-content">
              <h3 class="bannerType4-title">{{ bannerTitle }}</h3>
              <div class="bannerType4-text">
              <p>{{ bannerSubtitle }}</p>
              </div>
              <a href="{{ bannerCta.getUrl() }}" class="button orange arrow"><span>{{  bannerCta.customText }}</span></a>
            </div>
          </section>
          <!-- Banner Type 4 -->
        {% endif %}

        <div class="mediaContacts-item">
          <div class="mediaContacts-item-content">

            <div class="mediaContacts-item-content-left">
              <div class="mediaContacts-item-content-left-tag">
              {% if entry.type.name == "News" %}
                Media Coverage
              {% else %}
                {{ entry.type.name | title | upper }}
              {% endif %}
              
              </div>
            </div>

            <div class="mediaContacts-item-content-right">
              <div class="mediaContacts-item-content-right-title">
              
                {% if entry.type == 'pressRelease' %}
                  <a href="{{ entry.url }}">{{ entry.title }}</a>
                {% elseif  entry.type == 'news' %}
                  <a href="{{ entry.linkUrl }}" target="_blank">{{ entry.title }}</a>
                {% endif %}
              </div>
              <div class="mediaContacts-item-content-right-date">{{ entry.postDate | date("M d, Y") }}</div>
            </div>

          </div>
        </div>
      {% endfor %}


        <div class="mediaContacts-paginate">
          
          {% if pageInfo.prevUrl %}
            <a href="{{ pageInfo.prevUrl }}" class="mediaContacts-paginate-item-prev">Prev</a>
          {% else %}
            <a href="{{ pageInfo.firstUrl }}" class="mediaContacts-paginate-item-prev">Prev</a>
          {% endif %}

          {% for page, url in pageInfo.getPrevUrls(4) %}
            <a href="{{ url }}" class="mediaContacts-paginate-item">{{ page }}</a>
          {% endfor %}

          <span class="mediaContacts-paginate-item--current">{{ pageInfo.currentPage }}</span>
          
          {% for page, url in pageInfo.getNextUrls(4) %}
            <a href="{{ url }}" class="mediaContacts-paginate-item">{{ page }}</a>
          {% endfor %}

          {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="mediaContacts-paginate-item-next">Next</a>{% endif %}
        </div>
        <div class="mediaContacts-paginate-counter"> {{ pageInfo.currentPage * 10 - 9 }}-{{ pageInfo.currentPage * 10 }} of {{ totalEntries }} results </div>
    </div>
  </div>

{% endblock %}
