{% extends '_layout' %}

{% block content %}

{% set headerTitle    = entry.mediaPress_headerTitle %}
{% set pageTitle      = entry.mediaPress_pageTitle %}
{% set pageCopy       = entry.mediaPress_copy %}

{% set bannerTitle    = entry.banner_title %}
{% set bannerSubtitle = entry.banner_subtitle %}
{% set bannerCta      = entry.banner_cta %}

<!-- Latest News 2 -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content">
      <div class="headTitle-breadcrumb"><a href="{{ siteURL }}">HOME</a> // <a href="">NEWS & STORIES</a></div>
      <div class="headTitle-title">
        <h3 class="separator left-aligned"><span>{{ headerTitle }}</span></h3>
      </div>
    </div>
  </section>
<!-- Latest News -->

  <div class="mediaContacts">

    <div class="mediaContacts-header">
      <div class="mediaContacts-header-title">{{ pageTitle }}</div>
      <div class="mediaContacts-header-copy">{{ pageCopy }}</div>
      <div class="mediaContacts-header-links">
        <a href="#"> View all press releases</a>
        <a href="#"> View all media coverage</a>
      </div>
    </div>
    

    <div class="mediaContacts-items">
      {% paginate craft.entries.section('pressReleases','news','specialReports').limit(12) as pageInfo, pageEntries %}

      {% for entry in pageEntries %}

        {% if loop.index == 8 %}
          <!-- Banner Type 4 -->
          <section class="bannerType4">
            <div class="bannerType4-content">
              <h3 class="bannerType4-title">{{ bannerTitle }}</h3>
              <div class="bannerType4-text">
              <p>{{ bannerSubtitle }}</p>
              </div>
              <a href="{{ bannerCta.getUrl() }}" class="button orange arrow"><span>{{  bannerCta.customText }}</span></a>
            </div>
          </section>
          <!-- Banner Type 4 -->
        {% endif %}

        <div class="mediaContacts-item">
          <div class="mediaContacts-item-content">

            <div class="mediaContacts-item-content-left">
              <div class="mediaContacts-item-content-left-tag">{{ entry.type.name | title | upper }}</div>
            </div>

            <div class="mediaContacts-item-content-right">
              <div class="mediaContacts-item-content-right-title"><a href="{{ entry.url }}">{{ entry.title }}</a></div>
              <div class="mediaContacts-item-content-right-date">{{ entry.postDate | date("M d, Y") }}</div>
            </div>

          </div>
        </div>
      {% endfor %}


        <div class="mediaContacts-paginate">
          
          {% if pageInfo.prevUrl %}
            <a href="{{ pageInfo.prevUrl }}" class="mediaContacts-paginate-item">Prev</a>
          {% else %}
            <a href="{{ pageInfo.firstUrl }}" class="mediaContacts-paginate-item">Prev</a>
          {% endif %}

          {% for page, url in pageInfo.getPrevUrls(5) %}
            <a href="{{ url }}" class="mediaContacts-paginate-item">{{ page }}</a>
          {% endfor %}

          <span class="mediaContacts-paginate-item--current">{{ pageInfo.currentPage }}</span>
          
          {% for page, url in pageInfo.getNextUrls(5) %}
            <a href="{{ url }}" class="mediaContacts-paginate-item">{{ page }}</a>
          {% endfor %}

          {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="mediaContacts-paginate-item">Next</a>{% endif %}
        </div>
    </div>
  </div>

{% endblock %}
