{% extends '_layout' %}

{% block content %}

{% set filterCat      = craft.app.request.getQueryParam('filter') %}


<!-- Hero Block -->
  <div class="heroType1-container"  style="background-image: url('{{ entry.heroType1_image.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
          <div class="heroType1-block-breadcrumbs">
            {% if entry.level > 1 %}
                <a href="{{ siteUrl }}">HOME</a>
                {% for crumb in entry.getAncestors() %}
                  {{ crumb.getLink() }} 
                {% endfor %}
            {% else %}
            <a href="{{ siteUrl }}">HOME</a>
            {% endif %}  
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.heroType1_title }}</h1>
          </div>
      </div>
    </div>
  </div>
<!-- END Hero Block -->


  <div class="rs-page">
    <section class="rs-head-container">
      <div class="rs-headContent">

        <div class="rs-headContent-title">
          <h4>Page headline goes here. Lorem ipsum dolor sit amet.</h4>
          <div class="rs-headContent-title-copy">
            Optional body copy goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <h3 class="rs-title">Research & Solutions</h3>
    

    


        <div class="rs-head-form">
          <div class="filter-by">
            FILTER BY
          </div>
          <div class="rs-filters">

          </div>


        </div>
      </div>

    </section>

    <section class="rs-listing">
      <div class="rs-listing-content">

        <div class="rs-listing-hero">
          <div class="rs-listing-hero-container">
            <div class="rs-listing-hero-image">
              <img src="/img/news-item2.png" alt="">
            </div>
            <div class="rs-listing-hero-copy">
              <div>
                <div class="rs-listing-hero-copy-category">
                  <p>BLOG POST</p>
                </div>
                <div class="rs-listing-hero-copy-title">
                  <h4>Tracking COVID-19 in Immigration
                    Detention</h4>
                </div>
  
                <div class="rs-listing-hero-copy-excerpt">
                  <p>The Immigration and Customs Enforcement
                    (ICE) detention system is ill-suited to
                    protect detained people from the COVID-19
                    pandemic.</p>
                </div>
  
                <div class="rs-listing-hero-copy-date">
                  <p>May 11, 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <div class="rs-listing-items">

          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>          
      </div>


      </div>
    </section>
  </div>



{% endblock %}

