{% extends '_layout' %}

{% block content %}

{% set filterCat      = craft.app.request.getQueryParam('filter') %}


<!-- Hero Block -->
  <div class="heroType1-container"  style="background-image: url('{{ entry.heroType1_image.first.url }}');">
    <div class="heroType1-block-box">
      <div class="heroType1-block-box-content">
          <div class="heroType1-block-breadcrumbs">
            {% if entry.level > 1 %}
                <a href="{{ siteUrl }}">HOME</a>
                {% for crumb in entry.getAncestors() %}
                  {{ crumb.getLink() }} 
                {% endfor %}
            {% else %}
            <a href="{{ siteUrl }}">HOME</a>
            {% endif %}  
          </div>
          <div class="heroType1-block-title">
            <h1>{{ entry.heroType1_title }}</h1>
          </div>
      </div>
    </div>
  </div>
<!-- END Hero Block -->


  <div class="rs-page">
    <section class="rs-head-container">
      <div class="rs-headContent">

        <div class="rs-headContent-title">
          <h4>{{ entry.rs_headline }}</h4>
          <div class="rs-headContent-title-copy">
            {{ entry.rs_copy }}
          </div>
        </div>

        <h3 class="rs-title">Research & Solutions</h3>
      
        <div class="rs-head-form">
          <div class="filter-by">
            FILTER BY
          </div>
          <div class="rs-filters">

          </div>


        </div>
      </div>

    </section>


    <section class="rs-listing">
      <div class="rs-listing-content">

	      {% if entry.newsHero_article|length %}
          {% set heroNews = entry.newsHero_article.one() %}
        <div class="rs-listing-hero">
          <div class="rs-listing-hero-container">
            <div class="rs-listing-hero-image">
              <img src="{{ entry.newsHero_image.first.url }}" alt="">
            </div>
            <div class="rs-listing-hero-copy">
              <div>
                <div class="rs-listing-hero-copy-category">
                  <p>{{ heroNews.type.name | title | upper }}</p>
                </div>
                <div class="rs-listing-hero-copy-title">
                  <a href="{{ heroNews.url }}">
                    <h4>{{ entry.newsHero_title }}</h4>
                  </a>
                </div>
  
                <div class="rs-listing-hero-copy-excerpt">
                  	{% if entry.newsHero_subtitle %}
                    <p>{{ entry.newsHero_subtitle }}</p>
                    {% endif %}
                </div>
  
                <div class="rs-listing-hero-copy-date">
                  <p>{{ heroNews.postDate | date("M d, Y") }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %} 
        

        <div class="rs-listing-items">

          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>
          <div class="rs-listing-item">
            <div class="rs-listing-item-wrapper">
              <div class="rs-listing-item-cat">
                <span>
                  eyebrow two lines
                </span>
              </div>
              <div class="rs-listing-item-content">

                <div class="rs-listing-item-content-date">
                  July 08, 2021
                </div>

                <h6 class="rs-listing-item-content-title">Headline, Project Title, Publication or Resource Title Goes Here</h6>
                <p  class="rs-listing-item-content-copy">
                  Line of text from the resource goes here lorem ipsum dolor sit amet...
                </p>

              </div>
              <div class="rs-listing-item-image">
                <img src="/img/item-img.png"  width="180" height="201" >
              </div>
            </div>
          </div>          
      </div>


      </div>
    </section>
  </div>



{% endblock %}

