<footer class="footerV2">

  <div class="footerV2-top">
    <div class="footerV2-top-container">

      <div class="footerV2-column footerV2-top-col01">
        <img src="/dist/img/v2/vera-horizontal.svg" class="footerV2-logo">
        <div class="address">
          34 35th Street<br>
          Suite 4-2A<br>
          Brooklyn, NY 11232<br><br>
          212-334-1300
        </div>
      </div>

      <div class="footerV2-column footerV2-top-col02">
        {% set footer_links = footer.footerLinks.all() %}
        {% if  footer_links|length %}
        <ul class="menu-footer">
          {% for node in footer_links %}
          <li>
            <a href="{{ node.footerLink.getUrl() }}">{{node.footerLink.customText }}<img src="/dist/img/v2/arrow-menu_1.svg" width="20px"></a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        </ul>
      </div>

      <div class="footerV2-column footerV2-top-col03">
        <div class="social-copy">
          Keep up with us on<br> social media.
        </div>
        <div class="social-icons">
          {% set social_links = socialNetworks.socialNetwork.all() %}
              {% if  social_links|length %}
                {% for node in social_links %}
                  <a href="{{ node.socialNetwork_link.getUrl() }}"  target="_blank">
                    <i class="fa-brands {{node.socialNetwork_handle }}"></i>
                  </a>
                {% endfor %}
              {% endif %}
        </div>

      </div>

      <div class="footerV2-column footerV2-top-col04">
        <div class="mail-list">
          <div class="mail-list-container">
          <p class="title"> Transformative change, sent to your inbox.</p>
             <a href="https://secure.vera.org/a/signup" target="_blank" class="button orange arrow"><span>Add your email</span></a>
          </div>

        </div>
      </div>

    </div>
  </div>


<div class="footerV2-bottom">


    <div class="footerV2-bottom-container">
      <div class="footer-bottom-copyright">
      {% if footer.footerLegalCopy %}
        {{ footer.footerLegalCopy }}
      {% endif %}
      </div>
       {% if footer.footerLinksLegal %}
        <div class="footer-bottom-menu">
          {% set footer_linksLegal = footer.footerLinksLegal.all() %}
          {% if  footer_linksLegal|length %}
          <ul>
            {% for node in footer_linksLegal %}
            <li>
              <a href="{{ node.footerLinksLegal.getUrl() }}">{{node.footerLinksLegal.customText }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
       {% endif %}
    </div>

</div>

</footer>
{% js %}

 document.addEventListener('DOMContentLoaded', function () {
    
 // Sticky Menu
 if (document.querySelector('#header-desktop')) { 
	 
		 var headerDesktop = document.getElementById("header-desktop");
		 var headerBottom = document.getElementById("rowBottom");

		 var stuck = false;
		 var stickPoint = getDistance();

		 function getDistance() {
			 var topDist = headerDesktop.offsetTop;
			 return topDist;
		 }
	 
	 window.onscroll = function(e) {

		 var distance = getDistance() - window.pageYOffset;
		 var offset = window.pageYOffset;
		 if ((distance <= 0) && !stuck) {
			 headerDesktop.style.position = 'fixed';
			 headerDesktop.style.top = '0px';
			 stuck = true;
			 headerDesktop.classList.add("show-logo");
			 headerDesktop.classList.remove("hide-logo");
		 } else if (stuck && (offset <= stickPoint)){
			 headerDesktop.style.position = 'static';//static
			 stuck = false;
			 headerDesktop.classList.add("hide-logo");
			 headerDesktop.classList.remove("show-logo");
		 }
	 }



 }

});







(function(){

  var doc = document.documentElement;
  var w = window;

  var prevScroll = w.scrollY || doc.scrollTop;
  var curScroll;
  var direction = 0;
  var prevDirection = 0;

  var header = document.getElementById('rowTop');
  var headerBottom = document.getElementById('rowBottom');
  var offs   = header.offsetTop;
  var checkScroll = function() {

    /*
    ** Find the direction of scroll
    ** 0 - initial, 1 - up, 2 - down
    */

    curScroll = w.scrollY || doc.scrollTop;
    if (curScroll > prevScroll) { 
      //scrolled up
      direction = 2;
    }
    else if (curScroll < prevScroll) { 
      //scrolled down
      direction = 1;
    }

    if (direction !== prevDirection) {
      toggleHeader(direction, curScroll);
    }

    prevScroll = curScroll;
  };

  var toggleHeader = function(direction, curScroll) {
    if (direction === 2 && curScroll > 5) { 
      //replace 52 with the height of your header in px
      header.classList.add('hide');
      headerBottom.classList.add('show-logo');
      prevDirection = direction;
    }
    else if (direction === 1) {
      header.classList.remove('hide');
      headerBottom.classList.remove('show-logo');
      prevDirection = direction;
    }
  };

  window.addEventListener('scroll', checkScroll);

})();


{% endjs %}