{% set top = entry.level == 1 ? entry : entry.ancestors.level(1).first %}

{% macro item(entry,theme="default") %}
<li>
  <a href="{{ entry.url }}" data-nav-carousel-link data-theme="default" data-title="{{ entry.title }}" data-id="{{ entry.id }}">
    {{ entry.shortTitle ?: entry.title }}
  </a>
</li>
{% endmacro %}

{% macro items(elementModel) %}
{% if elementModel | length %}
{% for entry in elementModel %}
{{ _self.item(entry,"default") }}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro subnav(label,items,covid) %}
{% if items | length %}
<div class="subnav-wrap hide-on-tablet hide-on-cover hide-on-menu">
  <button class="subnav-toggle">{{ label }}</button>
  <ul class="subnav">
    {{ items }}
  </ul>
</div>
{% endif %}
{% endmacro %}

{% macro navgroup(label,items) %}
{% if items | length %}

{% if 1 %}
  <ul class="navgroup reset-list">
    {{ items }}
  </ul>
{% endif %}

<div class="navgroup-wrap">
  <button class="navgroup-toggle">{{ label }}</button>
  <ul class="navgroup reset-list">
    {{ items }}
  </ul>
</div>
{% endif %}
{% endmacro %}

{% set topics = _self.items(top.children.type('topic').pageType('topic')) %}
{% set lenses = _self.items(top.children.type('topic').pageType('lense')) %}
{% set articles = _self.items(top.children.type('article')) %}
{% set bestOf = top.children.type('page').aggregateStream('bestOf').find() %}

<header class="header state-of {{ headerClass ?? null }} {{ top.id == entry.id ? 'cover-selected' }}" id="Header" role="navigation">
	<div class="flex">
		<a class="logo {{ logoClass ?? null }}" href="/">Vera Institute of Justice</a>

		<h1 class="hide-on-mobile hide-on-cover">
			<a href="{{ top.url }}">{{ top.title }}</a>
		</h1>

		<div class="right ">
      {{ _self.subnav("Topics+", topics) }}
      {{ _self.subnav("Lenses+", lenses) }}

      {{ _self.subnav(('covid' in craft.request.segment(1) ? "Cities" : "Articles+"), articles) }}  

      {% if bestOf | length %}
      {% for page in bestOf %}
			<a href="{{ page.url }}" class="hide-on-tablet hide-on-cover hide-on-menu" data-nav-carousel-link>{{ page.title }}</a>
      {% endfor %}
      {% endif %}
			<a href="#" class="icon-share trigger-modal hide-on-tablet hide-on-cover hide-on-menu" data-modal="ShareOverlay" title="Share">{{ craft.inlin.er("/dist/icons/share.svg",true) | raw }}</a>

			<button class="header__menu-toggle">Menu</button>
		</div>
	</div>

	<nav class="full-nav">
    {{ _self.navgroup("Topics",topics) }}
    {{ _self.navgroup("Lenses",lenses) }}
    {{ _self.navgroup("Articles",articles) }}
		{% set pages = top.children.type('page').find() %}
		{% for page in pages %}
		<a href="{{ page.url }}" data-nav-carousel-link data-theme="default" data-title="{{ page.title }}" data-id="{{ page.id }}">{{ page.title }}</a>
		{% endfor %}
	</nav>
</header>

{% includeJs %}
$(function() {

	var $header = $('header.state-of'),headerIsOpen=false;
	var $toggle = $header.find('.header__menu-toggle');
	var $fullNav = $header.find('.full-nav');

	var tween = TweenLite.to($fullNav, .25, { x: 0, paused: true });

	$toggle.on("click", function() {
		headerIsOpen = !headerIsOpen;
		if (headerIsOpen) {
			open()
		} else {
			close()
		}
	});

	$('.navgroup-toggle').on("click", function() {
		$(this).toggleClass('show');
	});

	$fullNav.find('a').on("click", function(event) {
		headerIsOpen = false;
		close();
	})

	function open()
	{
		$header.addClass('menu-open');
		tween.play();
	}

	function close()
	{
		$header.removeClass('menu-open');
		tween.reverse();
	}
})
{% endincludejs %}