{% set nextBlock = block.nextSibling %}
<section class="CopySection careersBuilder-block-{{ block.colorCombo and block.colorCombo != "inherit" ? "padding" : "margin"}} color-combo--{{ block.colorCombo.value }} {{ nextBlock.type.handle == "copySection" and nextBlock.colorCombo == block.colorCombo ? "CopySection--adjacent" }}">
  <div class="container">
    <h2 class="CopySection-heading">{{ block.heading }}</h2>
    <div>
      <div class="CopySection-text rte">{{ block.text | shortcodes | raw }}</div>
        {% if block.children | length %}
        <div class="CopySection-cta">
        {% for cta in block.children %}
        {% include 'careers/_blocks/cta' %}
        {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</section>