{% set owner = entry.level == 1 ? entry : entry.ancestors.level(1).first %}

{% set stateData = {} %}
{% for state in owner.children %}
{% if state.stateCode %}
  {% set stateData = stateData | merge({
    (state.stateCode): {
      url: state.url,
      pdfUrl: state.pdfDownload | length ? state.pdfDownload[0].url : null
    }
  }) %}
  {% endif %}
{% endfor %}

{% set csvUrl = block.dataset[0].url ?? null %}
{% if csvUrl %}
{% set id = "UsMap-" ~ block.id %}
<div class="UsMap bg--lightGray">
  <div class="container">
    <div class="UsMap-heading h3">{{ block.heading }}</div>
    {% if block.explainer %}
    <div class="UsMap-explainer">{{ block.explainer }}</div>
    {% endif %}
    <div class="UsMap-map" data-analytics-event='["Map","Click","{{ block.heading | escape("html_attr") }}"]'>
      <svg id="{{ id }}"></svg>
    </div>
  </div>
</div>
{% endif %}
{% set highlight = highlight ?? null %}

{% includeJs %}
window.addEventListener("load", function(){
  UsMap({
    selector: "#{{ id }}"
  })
    .then(function(map) {
      UsMapIncarcerationRegions({
        map,
        csvUrl: "{{ csvUrl }}",
        {% if highlight %}
        highlight: "{{ highlight }}",
        {% endif %}
        {% if stateData is defined %}
        cmsData: {{ stateData | json_encode | raw }},
        {% endif %}
      });
    })
});
{% endincludejs %}