<div class="post-module social-feeds">
        {% set hashtags = null %}
        {% for tag in block.hashtags %}
          {% if not loop.first %}
            {% set hashtags = hashtags~', ' %}
          {% endif %}
          {% set hashtags = hashtags~tag.hashtag %}
        {% endfor %}

        {% cache for 1 hour %}

        {% set query = hashtags | replace(', ',' OR ') | url_encode %}

        {% set tweets = craft.twitter.get('search/tweets', {q: query, count: 3, result_type: 'recent'}) %}

        {% if tweets.data | length %}
          <div class="social-feed post-sidebar__twitter-feed">
            <h3>
              <a href="https://twitter.com/search?q={{ query }}" target="_blank">
                <i class="icon-twitter"></i>
                {{ hashtags }}</a>
            </h3>

            <ul>

              {% set statuses = tweets.data %}
              {# {% for tweet in statuses %}
                {% if tweet.retweeted_status is defined %}
                  {% set text = tweet.retweeted_status.text %}
                {% else %}
                  {% set text = tweet.text %}
                {% endif %}
                <li>
                  {{ text | autoLinkTweet }}

                  <span class="timestamp">@{{ tweet.user.name }}<span class="right">{{ tweet.created_at  | time_ago }}
                      ago</span>
                  </span>
                </li>
              {% endfor %} #}

            </ul>
          </div>
        {% endif %}

        {% endcache %}


        

      </div>