{% extends "_layout" %} 
{% block content %}
<section class="formularios py-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="formularios__content">
					<form method="post" accept-charset="UTF-8">
						{{ csrfInput() }} {{ actionInput('users/set-password') }} {{
						hiddenInput('code', code) }} {{ hiddenInput('id', id) }} {% if
						errors ?? false %}

						<div class="alert alert-danger mt-5">
							{{ ul(errors, {class: 'errors py-2'}) }}
						</div>
						{% endif %}

						<h1 class=" productsCategory__title mb-1 mt-5 text-center">
							Establece tu contrase単a
						</h1>
						<p class="mb-4 text-center">
							Ingresa tu nueva constrase単a
						</p>

            {{ input ('password', 'newPassword', null, { id: 'new-password',
							class: 'form-control formularios__form__input', placeholder:
							'Establecer contrase単a' }) }}
						<div class="text-center mt-4">
							<button
								type="submit"
								class="btn btn-primary"
							>
								Actualizar contrase単a
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}