{% extends '_layout' %}

{% set title = 'About' %}
{% set section = 'people' %}

{% block content %}

<!-- Header Title -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content {{ entry.headerTitle_size }}">

      <div class="headTitle-breadcrumb">
          <a href="{{ siteUrl }}">HOME</a> //
          <a href="{{ entry.url }}">{{ entry.title }}</a>
      </div>

      <div class="headTitle-title">
        <h3 class="separator left-aligned">
        <span>{{ entry.headerTitle_title|striptags('p')|raw }}</span></h3>
      </div>
    </div>
  </section>
<!-- Header Title -->


   
  {% set boardcategory = craft.categories.group('departments').title('Board of Trustees') %}
  {% set board = craft.entries.section('people').type('staff').relatedTo(boardcategory).with(['headshot']) %}
  <div class="people-grid">
    <div class="container">
      <h3>Board of Trustees</h3>
      {% include 'includes/snippets/people' with {people: board, grid: true, large: true} %}
    </div>
  </div>

  {% set boardcategory = craft.categories.group('departments').title('Honorary Trustees') %}
  {% set board = craft.entries.section('people').type('staff').relatedTo(boardcategory).with(['headshot']) %}
  {% if board | length %}
    <div class="people-grid">
      <div class="container">
        <h3>Honorary Trustees</h3>
        {% include 'includes/snippets/people' with {people: board, grid: true, large: true} %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block ajax_wrap_open %}
	{% include './includes/snippets/ajax_wrap_open' %}
{% endblock %}

{% block ajax_wrap_close %}
	{% include './includes/snippets/ajax_wrap_close' %}
{% endblock %}

