{% extends '_layout' %}

{% set title = 'About' %}
{% set section = 'people' %}

{% block content %}



<!-- Header Title -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content {{ entry.headerTitle_size }}">

      <div class="headTitle-breadcrumb">
          <a href="{{ siteUrl }}">HOME</a> //
          <a href="{{ entry.url }}">{{ entry.title }}</a>
      </div>

      <div class="headTitle-title">
        <h3 class="separator left-aligned">
        <span>{{ entry.headerTitle_title|striptags('p')|raw }}</span></h3>
      </div>
    </div>
  </section>
<!-- Header Title -->




    {% set entryType = 'about' %}



    <!-- People -->
    <div class="people-grid">
      <div class="container">
        <h3>Leadership Team</h3>
          {% set category = craft.categories.group('departments').title('Leadership Team') %}
          {% set people = craft.entries.section('people').type('staff').relatedTo(category).with(['headshot']) %}
          {% include 'includes/snippets/people' with {grid: true, large: true} %}
      </div>
    </div>

    {% set excludecategory = craft.categories.group('departments').title(['Board of Trustees','Honorary Trustees','Reform Leadership Council']) %}
    {% set excludepeople = craft.entries.section('people').type('staff').relatedTo(excludecategory) %}

    {% set exclude = ['and'] %}
    {% for id in excludepeople.ids() %}
      {% set exclude = exclude|merge(['not '~id]) %}
    {% endfor %}

    {% set excludeCategories = ['and'] %}
    {% for id in excludecategory.ids() %}
      {% set excludeCategories = excludeCategories | merge(['not ' ~ id]) %}
    {% endfor %}

    {% set streamOptions = {
    filterRelations: [{
      title: 'Department',
      type: 'categories',
      relations: craft.categories.group('departments').id(excludeCategories)
    }, {
      title: 'Center or Program',
      type: 'entries',
      relations: craft.entries.section('centers').level(1)
    }],
    relatedTo: excludeCategories
    } %}

    {% include 'includes/stream/stream_people' with {isPageRequest : true} %}


{% endblock %}

{% block ajax_wrap_open %}
	{% include 'includes/snippets/ajax_wrap_open' %}
{% endblock %}

{% block ajax_wrap_close %}
	{% include 'includes/snippets/ajax_wrap_close' %}
{% endblock %}
