{% extends '_layout' %}

{% set title = 'About' %}
{% set section = 'people' %}

{% block content %}

<!-- Header Title -->
  <section class="headTitle bgColor-darkviolet">
    <div class="headTitle-content {{ entry.headerTitle_size }}">

      <div class="headTitle-breadcrumb">
          <a href="{{ siteUrl }}">HOME</a> //
          <a href="{{ entry.url }}">{{ entry.title }}</a>
      </div>

      <div class="headTitle-title">
        <h3 class="separator left-aligned">
        <span>{{ entry.headerTitle_title|striptags('p')|raw }}</span></h3>
      </div>
    </div>
  </section>
<!-- Header Title -->

   
  {% set category = craft.categories.group('departments').title('Reform Leadership Council') %}
  {% set people = craft.entries.section('people').type('staff').relatedTo(category).with(['headshot']) %}
  <div class="people-grid">
    <div class="container">
      <h3>Reform Leadership Council</h3>
      <div class="post-module module-text container">
        <div class="module-text__inner">{{ entry.reformLeadershipCouncilDescription }}</div>
      </div>
      {% include 'includes/snippets/people' with {people: people, grid: true, large: true} %}
    </div>
  </div>

{% endblock %}

{% block ajax_wrap_open %}
	{% include './includes/snippets/ajax_wrap_open' %}
{% endblock %}

{% block ajax_wrap_close %}
	{% include './includes/snippets/ajax_wrap_close' %}
{% endblock %}


