{% extends '_layout' %}

{% set title = entry.title %}

{% block content %}

{% spaceless %}
  {% set blocks  = entry.article %}
	{% set includeCharts = false %}
{% endspaceless %}


  <div class="hero-type4">
      <div class="hero-type4-content">
        <div class="hero-type4-content-copy">
          <div class="hero-type4-content-copy-breadcrumbs">
           {% if entry.level > 1 %}
              <a href="{{ siteUrl }}">HOME</a>
              //  <a href="{{ siteUrl }}news-and-stories">NEWS AND STORIES</a>
              {% for crumb in entry.getAncestors() %}
                // {{ crumb.getLink() }} 
              {% endfor %}
          {% else %}
            <a href="{{ siteUrl }}">HOME</a> // <a href="{{ siteUrl }}news-and-stories">NEWS AND STORIES</a>
          {% endif %}  
          </div> 

          <h1>{{ entry.title }}</h1>
          <span class="subtitle">{{ entry.subtitle }}</span>

          <div class="authors">
            {% if entry.authors|length %}
              {% for profile in entry.authors %}
                  <a href="{{ profile.url }}" target="_blank" class="profile-name">{{ profile.firstName }} {{ profile.lastName }}</a>
                  <span>{{ profile.jobTitle }}</span> {% if loop.last %}{% else %}//{% endif %}
              {% endfor %} 
            {% endif %}
          </div>
          <div class="date">{{ entry.postDate | date("M d, Y") }}</div>
        </div>
   
        <div class="hero-type4-content-line1"></div>
        <div class="hero-type4-content-line2"></div>
        <div class="hero-type4-content-line3"></div>
        <div class="hero-type4-content-line4"></div>
      </div>
    </div>


<div class="content-page news-article">

    <!-- Share Icons -->
     {% include 'v2/common/shareIcons' with { entry:entry } %}
    <!-- Share Icons -->

    <div class="content-page-blocks">
    {% for block in blocks %}
      {% if block.type == 'headerTitle' %}
        {% include 'v2/common/headerTitle' with { block: block } %}
      {% elseif block.type == 'copy' %}
        {% include 'v2/common/copy'  with { block: block } %}
      {% elseif block.type == 'heroType1' %} {# Header #}
        {% include 'v2/common/heroType1' with { block: block } %}
      {% elseif block.type == 'bannerType2' %} {# Text besides images #}
        {% include 'v2/common/bannerType2'  with { block: block } %}
      {% elseif  block.type == 'bannerType3' %} {# Full width CTA without image #}
        {% include 'v2/common/bannerType3' with { block: block } %}
      {% elseif  block.type == 'bannerType4' %}
        {% include 'v2/common/bannerType4' with { block: block } %}
      {% elseif  block.type == 'slideshow' %}
        {% include 'v2/common/swiperSlider' with { block: block } %}
      {% elseif block.type == 'featuredType1' %}
        {% include 'v2/common/featuredType1' with { block: block } %}
      {% elseif block.type == 'quoteBlockType1' %}
    	  {% include 'v2/common/quoteBlockType1' with { block: block } %}
      {% elseif block.type == 'featuredType2' %}
        {% include 'v2/common/featuredType2' with { block: block } %}
      {% elseif block.type == 'twoColumns' %}
    	  {% include 'v2/common/copy-twoColumns' with { block: block } %}
      {% elseif block.type == 'threeColumns' %}
    	  {% include 'v2/common/copy-threeColumns' with { block: block } %}
      {% elseif block.type == 'contactUs' %}
        {% include 'v2/common/contactUs.twig'  with { block: block } %}
      {% elseif  block.type == 'relatedItems' %}
        {% include 'v2/common/relatedItems' with { block: block } %}
      {% elseif  block.type == 'exploreMore' %} {# Expore More #}
        {% include 'v2/common/exploreMore.twig'  with { block: block } %}  
      {% elseif block.type == 'quote' %} {# Pull Quote #}
    	  {% include 'v2/common/quote' with { block: block } %} 
      {% elseif  block.type == 'singleImage' %}
        {% include 'v2/common/swiperSlider' with { block: block } %}
      {% elseif  block.type == 'video' %}
        {% include 'v2/templates/news-item/blocks/videoBlock' with { block: block } %}
      {% elseif  block.type == 'audio' %}
        {% include 'v2/templates/news-item/blocks/audioBlock' with { block: block } %}
      {% elseif block.type == 'infoModule' %}
        {% include 'v2/templates/news-item/blocks/infoModule'  with { block: block } %}
      {% elseif block.type == 'code' %}
        <div class="code-container">{{ block.code | raw }}</div>
      {% elseif block.type == 'map' %}
        <div class="mapContainer">
          {% include 'vera-maps/_maptypesBlock'  with { block: block } %}
        </div>
      {% elseif block.type == 'largeBlockQuote' %}
        {% include 'v2/templates/news-item/blocks/quoteType2' with { block: block } %}
      {% elseif block.type == 'chart' %}
        {% include 'v2/templates/news-item/blocks/chart' with { block: block } %}
      {% elseif  block.type == 'newsItems' %}
        {% include 'v2/templates/news-item/blocks/newsItems' with { block: block } %}
      {% elseif block.type == 'listing' %} {# Listing #}
    	  {% include 'v2/common/listing' with { block: block } %}
      {% elseif block.type == 'newsHero' %} {# Latest News Hero #}
    	  {% include 'v2/common/newsHero' with { block: block } %}	
      {% elseif block.type == 'twoColumns' %}
    	  {% include 'v2/common/copy-twoColumns' with { block: block } %}
      {% elseif block.type == 'threeColumns' %}
    	  {% include 'v2/common/copy-threeColumns' with { block: block } %}
      {% elseif block.type == 'stats' %}
    	  {% include 'v2/common/stats' with { block: block } %}
      {% elseif block.type == 'signUp' %}
        {% include 'v2/common/signUp.twig'  with { block: block } %}
      {% elseif block.type == 'quoteBlockType1' %}
    	  {% include 'v2/common/quoteBlockType1' with { block: block } %}
      {% elseif  block.type == 'bannerType4' %}
        {% include 'v2/common/bannerType4' with { block: block } %}
      {% elseif  block.type == 'quoteType2' %}
        {% include 'v2/templates/news-item/blocks/quoteType2' with { block: block } %}
      {% elseif  block.type == 'quoteType1' %}
        {% include 'v2/templates/news-item/blocks/quoteType1' with { block: block } %}
     {# 
      {% elseif  block.type == 'relatedItems' %}
        {% include 'v2/common/relatedItems' with { block: block } %}
      {% elseif  block.type == 'bannerType4' %}
        {% include 'v2/common/bannerType4' with { block: block } %}
      #}
      {% endif %}
    {% endfor %}
    </div>

    {% if entry.relatedSeries | length and entry.relatedSeries.first.seriesDescription %}
      <section class="copy-block-container text-description">
        <div class="copy-block-content">
        {{ entry.relatedSeries.first.seriesDescription }}
        </div>
      </section>
  	{% endif %}



    <div id="topButton" class="hidden">
        <a href="javascript:window.scrollTo({top: 0, behavior: 'smooth'});" class="topIcon"></a>   
    </div>
</div>


  <!-- Latest News Items -->
	{% if entry.relatedContent |length %}
  <section class="headTitle headTitle--news">
    <div class="headTitle-content">
      <div class="headTitle-title">
        <h3 class="separator left-aligned">
          <span>Related</span>
        </h3>
      </div>
    </div>
  </section>
    <section class="block-latestNews">
    	<div class="block-latestNews-content">
    		<div class="latestNews-items">
    		  {% for newsItem in entry.relatedContent %}
          		{% if newsItem.streamImageRectangle | length %}
			            {% set imageset = newsItem.streamImageRectangle %}
              {% endif %}
          <a href="{{ newsItem.url }}" class="latestNews-item">
    				<div class="latestNews-item-category">
    					<p>{{ newsItem.type.name | title | upper }}</p>
    				</div>
    				<div class="latestNews-item-image"
    					style="background-image: url('{{ imageset.first.url }}');">
    				</div>
    				<div class="latestNews-item-copy">
    					<h5 class="latestNews-item-copy-title">
    						<span>{{ newsItem.title }}</span>
    					</h5>
    					<div class="latestNews-item-copy-date">
    						<time datetime="2018-07-07">{{ newsItem.postDate | date("M d, Y") }}</time>
    					</div>
    				</div>
    			</a>
          {% endfor %}
    		</div>
    	</div>
    </section>
	{% endif %} 
  <!-- Latest News  Items -->


{% if includeCharts %}
	{% includeJsFile '/dist/js/specialReportCampaign.js?v=0.2' %}
{% endif %}

{% js %}
document.addEventListener('DOMContentLoaded', function () {
  const btnTop = document.querySelector('#topButton');
  if(document.body.scrollHeight > 4500){
    btnTop.classList.remove('active');
  }
});
{% endjs %}

{% endblock %}

